*{
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
button {
  padding: 10px 15px;
  font-size: 18px;
}
input[type="text"] {
  width: 60%;
  padding: 10px 15px;
  font-size: 18px;
}
.container {
	padding: 10px;
}
.tweet-wrapper {
	padding: 5px;
	border: 1px solid #f2f2f2;
	margin-bottom: 10px;
	border-radius: 10px;
}
.tweet-text {
	color: #333;
}
.tweet-time {
	color: #ccc;
}
#render-tweets {
	padding: 10px;
}
.main-head {
	padding: 0 20px;
}
.tweet-form {
	padding: 20px;
}